@media only screen and (max-width: 980px){
  a:after{
    display: none;
  }
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
    h1 { line-height: 120%; text-align: center; margin-top: 10px;}
    h2 { line-height: 130%; text-align: center;}
    footer > a {display: none;}
}
a.logo{text-decoration: none;}
.email:after{
  content: " Email me"
}
.twitter:after {
  content: " Twitter";
}
.telegram:after{
  content: " Telegram";
}
.linkedin:after{
  content: " LinkedIn";
}
.github:after{
  content: " Github";
}
.pdf:after{
  content: " CV";
}

.italic {font-style: italic;}
.bold {font-weight: bold;}
.center {text-align: center;}
.pic {width: 100%;}

footer{
  padding-right: 5px;
  padding-left: 5px;
}
